{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container">
        <h2>About Us</h2><br>

        <p>
            Welcome to Offbeat, where every bag tells a story. At Offbeat, we curate a unique collection of offbeat, high-quality products, meticulously sourced from artisans and designers around the globe. Each item in our collection is hand-picked with care, ensuring that every bag you find here is not just a piece of fashion, but a statement of individuality and style.

We take pride in offering a shopping experience like no other, where discerning women can discover one-of-a-kind bags that reflect their personality and passions. From chic to quirky, our handpicked selections encompass a diverse range of styles, materials, and designs, ensuring that there's something for every taste and occasion.

What sets us apart is our commitment to exclusivity. Unlike mass-market retailers, all our products are exclusively available on our platform, making each purchase from Offbeat truly special. Whether you're searching for a timeless classic or a bold statement piece, our carefully curated collection guarantees authenticity, quality, and unparalleled craftsmanship.

Join us on a journey of discovery and self-expression as you explore our collection of women's shopping bags. At Offbeat, we believe that every bag has a story to tell, and we're here to help you find yours.
        </p>
        <hr>

        <div class="row">
            <div class="col-lg-6">
                <div class="mission-text">
                    <h2>Our Mission</h2><br>
                    <p>Our mission is to provide high-quality products and exceptional customer service to our clients. We strive to innovate and exceed expectations in everything we do.</p>
                </div>

                <div class="team-text">
                    <h2>Our Team</h2><br>
                    <p>We have a dedicated team of professionals who are passionate about delivering excellence. From product development to customer support, our team works tirelessly to ensure your satisfaction.</p>
                </div>
            </div>
            <div class="col-lg-6">
                <center>
                <div class="team-image">
                <img src="{% static '/images/offbeat.jpg' %}" alt="Team Image">
            </div>
                    </center>
            </div>
        </div>
    </div>
    <br>
{% endblock %}
