{% extends 'admin/admin_base.html' %}
{% block content %}
{% load static %}

<div class="container-xxl flex-grow-1 container-p-y">
    <div class="row">
        <div class="col-lg-12 mb-4 order-0">
            <div class="card">
                <div class="d-flex align-items-end row">
                    <div class="col-sm-7">
                        <div class="card-body">
                            <h1 class="card-title text-primary">Welcome {{ admin_name }}! </h1>
                        </div>
                    </div>
                    <div class="col-sm-5 text-center text-sm-left">
                        <div class="card-body pb-0 px-0 px-md-4">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-12 d-flex align-items-stretch mt-5">
            <div class="card w-100">
                <div class="card-body">
                    <div class="d-sm-flex d-block align-items-center justify-content-between mb-9">
                        <div class="mb-3 mb-sm-0">
                            <h5 class="card-title fw-semibold">Sales Overview</h5>
                        </div>
                    </div>

                    <!-- Sales Chart Section -->
                      <!-- Sales Chart Section -->
                    <section class="section-content padding-y bg">
                        <div class="container" style="height:600px">
                            <div class="row">
                                <div class="col-md-6">
                                    <div style="width:800px; height: 400px;">
                                        <div>
                                            <select id="timeRange" onchange="updateChart()">
                                                <option value="month">Monthly</option>
                                                <option value="week">Weekly</option>
                                                <option value="year">Yearly</option>
                                            </select>
                                            <canvas id="myChart"></canvas>
                                            <center><h4 id="chartTitle">Sales Chart</h4></center>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <!-- End Sales Chart Section -->

                    <!-- Best Selling Products Section -->
                    <section class="section-content padding-y bg">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="box" style="background-color: black; margin-top: 30px; margin-left: 0px;">
                                        <p style="color:white; font-weight: bold; font-size:20px; text-align: center;">Top Best Selling Products</p><br>
                                        <div class="row">
                                            {% for product in products_with_more_orders %}
                                            <div class="col-md-12">
                                                <div class="item d-flex align-items-center">
                                                    <span class="serial-number" style="color:white; margin-right: 10px;">{{ forloop.counter }}</span>
                                                    <a href="{{ product.get_url }}" class="img-wrap">
                                                        <img src="{{ product.image.url }}" width="100" style="width:50px; height:50px;">
                                                    </a>

                                                    <div class="info-wrap ml-2">
                                                        <a href=" {% url 'edit_product' product.id %} " class="title" style="color:white;">{{ product.product_name }}</a>
                                                        <div class="price mt-1" style="color:white;"> ₹ {{ product.price }}</div>
                                                    </div>

                                                </div><br>
                                            </div> <!-- col.// -->
                                            {% endfor %}

                                        </div>
                                    </div>
                                </div>
                                <!-- End Best Selling Products Section -->

                                <!-- Best Selling Categories Section -->
                                <div class="col-md-6">
                                    <div class="box" style="background-color: black; margin-top: 30px; margin-left: 20px;">
                                        <p style="color:white; font-weight: bold; font-size: 20px; text-align: center;">Top Best Selling Categories</p><br>
                                        <div class="row">
                                            {% for category in categories_with_most_orders %}
                                            <div class="col-md-12">
                                                <div class="item d-flex align-items-center">
                                                    <span class="serial-number" style="color:white; margin-right: 10px;">{{ forloop.counter }}</span>
                                                    <div>
                                                        <img src="{{ category.image.url }}" style="width:50px; height:50px;">
                                                    </div>
                                                    <div class="info-wrap ml-2">
                                                        <p style="color:white;">{{ category.category_name }}</p>
                                                    </div>
                                                </div>
                                                <br>
                                            </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                                <!-- End Best Selling Categories Section -->
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    // JavaScript code for rendering Chart.js chart
    let myChart; // Define the chart variable outside the function scope

    function updateChart() {
        const ctx = document.getElementById('myChart');
        const timeRange = document.getElementById('timeRange').value;
        const chartTitle = document.getElementById('chartTitle');

        let labels = {{ labels|safe }};
        let amounts = {{ data|safe }};

        if (timeRange === 'month') {
            labels = ['Week 1', 'Week 2', 'Week 3', 'Week 4'];
            chartTitle.innerText = 'Last One Month Chart';
        } else if (timeRange === 'week') {
            labels = ['Day 1', 'Day 2', 'Day 3', 'Day 4', 'Day 5', 'Day 6', 'Day 7'];
            chartTitle.innerText = 'Last One Week Chart';
        } else if (timeRange === 'year') {
            labels = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
            chartTitle.innerText = 'Yearly Chart';

        }

        // Destroy the existing chart if it exists
        if (myChart) {
            myChart.destroy();
        }

        // Create a new chart
        myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: labels,
                datasets: [{
                    label: '# order amount',
                    data: amounts,
                    backgroundColor: [ // Define darker colors here
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)',
                        'rgba(23, 156, 155, 0.2)',
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    }

    // Call updateChart initially to render the chart for the last one month
    updateChart();
</script>
{% endblock %}

